<span class="logo">
  <a href="#">
    <img src="../images/logo-svg.svg" alt="Tiffany Voorhees Logo" height="75" />
  </a>
</span>
<button id="menu" aria-label="menu"></button>
<nav>
  <ul class="navigation wrap">
    <li>
      <a id="home-link" href="../" title="Home page" class="active">Home Page</a>
    </li>
    <li>
      <a id="projects-link" href="school-projects.html">Family and Friends</a>
    </li>
    <li>
      <a id="personal-link" href="personal-projects.html">School Project Portfolio</a>
    </li>
  </ul>
</nav>
