@media (min-width: 37.5rem) {
  h2 {
    font-size: 2rem;
  }

  .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--dark-color);
  }

  .logo img {
    height: 90px;
    margin-right: 0.5rem;
  }
}
