.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do a flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card__face--front,
.card__face--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /*Safari*/
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing */
.card__face--front {
  background-image: linear-gradient(to bottom right, var(--light-accent), var(--dark-accent));
  color: var(--dark-color);
}

/* Style the back side */
.card__face--back {
  background-image: linear-gradient(to bottom right, var(--light-accent), var(--light-accent));
  color: var(--dark-color);
  transform: rotateY(180deg);

  /* ******************** Make the card back a flex container ******************** */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures the footer stays at the bottom */
}

.card__face--image {
  padding-top: 0.5rem;
}

/* Change the color of the original card */
.card {
  background-color: var(--dark-color);
}

.card-body{
  flex-grow: 1;
  overflow: auto;
}

.card-footer{
  margin-top: auto;
}

.support-text {
  font-size: 0.8rem;
  text-align: left;
  padding: 0.5rem;
}

.italic-text {
  font-style: italic;
}

hr {
  margin-left:0.4rem;
  margin-right: 0.4rem;
  border-color: var(--dark-color);
}

.lorcana-btn {
  padding: 0.5rem;
  border-radius: 0.8rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.lorcana-btn:hover {
  text-decoration: underline;
  background-color: var(--dark-accent);
}

.lorcana-btn-sm {
  font-size: 0.8rem;
  padding: 0.2rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 0.5rem;
}
.lorcana-btn-sm:hover {
  background-color: var(--dark-accent);
}

.lorcana-btn-text {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.filtering-section{
  display: flex;
  margin-bottom: 2rem;
}

.details-list{
  list-style: none;
}

.details-list li{
  display: flex;
  justify-content: space-between;
}

.detail-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: .8rem;
  justify-content: space-between;
  text-align: left;
}
