<span class="logo">
  <a href="#">
    <img src="/shared/images/logo-svg.svg" alt="Tiffany Voorhees Logo" height="75" />
  </a>
</span>
<button id="menu" aria-label="menu"></button>
<nav>
  <ul class="navigation wrap">
    <li>
      <a id="home-link" href="/" title="Home page" class="active">Home Page</a>
    </li>
    <li>
      <a id="ohs-link" href="/ohs">OHS with Rowley's</a>
    </li>
    <li>
      <a id="lorcana-link" href="/lorcana">Disney Lorcana API Project</a>
    </li>
    <li>
      <a id="school-link" href="/school-projects">School Projects</a>
    </li>
  </ul>
</nav>
